.tile {
	width: 60px;
	height: 60px;
	border: 2px solid gray;
	background-color: lightgray;

}


.exit{
	width: 60px;
	height: 60px;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */

}

